.header {
    padding         : 20px 0;
    background-color: hsl(198, 66%, 13%);
}

.header-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.nav-list {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    gap            : 60px;
}

.nav-item_link {
    font-size      : 25px;
    color          : hsl(0, 0%, 100%);
    text-decoration: none;
    transition     : 0.3s all;
}

.nav-item_link:hover {
    color: hsl(76, 97%, 65%);
}

.nav-item_btn {
    padding         : 10px;
    border-radius   : 15px;
    font-size       : 25px;
    border          : none;
    color           : hsl(198, 67%, 13%);
    background-color: hsl(76, 97%, 65%);
    cursor          : pointer;
    transition      : 0.3s all;
}


.nav-item_btn:active {
    transform: scale(0.97);

}