.services-section {
    margin: 50px 0 10px 0;
}

.services-title-box {
    width: 100%;
    background-color: #0B2936;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.services-title {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
}

.services-fibre-blue {
position: absolute;
inset: 25px 10px 10px 13px;
transform: rotate(25deg);

}

.services-fibre-red {
    position: absolute;
inset: -90px 0 0 1133px;
transform: rotate(310deg);
}